{% extends 'base.html.twig' %}

{% block title %}New Classe
{% endblock %}

{% block body %}
	<div class="container">

		{{form_start(formClasse) }}
		{# 
						{{ form_row(formEleve.parent) }}
						{{ form_row(formEleve.prenom) }}
						{{ form_row(formEleve.dateNaissanceAt ) }}
						{{ form_row(formEleve.foto) }}
						{{ form_row(formEleve.sexe) }}
						{{ form_row(formEleve.Ajouter) }} #}

		{{form_end(formClasse) }}

	</div>
{% endblock %}
